.box-list {
    width: 500px;
    max-width: 100%;
    border: 1px solid #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    border-bottom: none
}

.drag-box {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: rgb(0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
}

.example-box {
    width: 200px;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgb(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
}

.example-box:active {
    box-shadow: 0 5px 5px -3px rgb(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 14px 2px 2px rgba(0, 0, 0, 0.12)
}

.example-handle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    cursor: move;
    width: 24px;
    height: 24px;
}

.example-viewport {
    height: 200px;
    width: 200px;
    border: 2px solid balck;
}

.example-item {
    height: 50px;
}