<!DOCTYPE html>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['./test1']"> 管道用法 </a></li>
                    <li><a [routerLink]="['./test2']">组件交互</a></li>
                    <li><a [routerLink]="['./test3']">动画特效</a></li>
                    <li><a [routerLink]="['./test4']">angular7 拖拽</a></li>
                    <li><a [routerLink]="['./test5']">复杂的组件交互</a></li>
                    <li><a [routerLink]="['./test6']">指令</a></li>
                    <li><a [routerLink]="['./test7']">项目</a></li>
                    <li><a [routerLink]="['./product']">商品详情</a></li>
                    <li><a [routerLink]="['./push']">onPush策略</a></li>
                    <li><a [routerLink]="['./life']">生命周期</a></li>
                    <li><a [routerLink]="['./form']">模板式表单</a></li>
                    <li><a [routerLink]="['./form1']">响应式表单</a></li>
                    <li> <a class="btn btn-default" [routerLink]="[{outlets:{aux:'test8'}}]">开始聊天</a></li>
                    <li> <a class=" btn btn-default" [routerLink]=" [{outlets:{aux:null}}]">结束聊天</a></li>


                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>
</div>
<router-outlet></router-outlet>
<router-outlet name="aux"></router-outlet>